.contactSection{
  display: flex;
  margin-bottom: 5rem;
  margin-top: 10rem;
  justify-content: center;
  gap: 5rem;
  height: 40rem;

  .holder{
    display: flex;
    flex-direction: column;

    .formTitle{
      display: flex;
      justify-content: center;
      margin-bottom: 3rem;
      font-size: 2.4rem;
    }

    .left{
      display: flex;
      justify-content: center;

      .form{
        
        display: flex;
        flex-direction: column;
        gap: 3rem;
        

        .formLabel{
          display: flex;
          
          font-size: 1.8rem;
          flex: 1;
          align-items: center;
          
          .formInput{
            display: flex;
            margin-left: 2rem;
            font-size: 2rem;
          }
        }

        .formText{
          display: flex;
          margin-left: 2rem;
          flex: 3;
        }
        .formSubmit{
          font-size: 3rem;
          color: green;
          display: flex;
          align-self: center;
          cursor: pointer;
        }
      }
    }

  }

}