.container{
    margin: 10rem 20rem 3rem 20rem;
    .top{
        display: flex;
        gap: 5rem;

        .item{
            flex:1;
            display: flex;
            flex-direction: column;
            text-align: justify;
            font-size: 1.4rem;
            .icon{
                display: flex;
            }
        }
    }
}





.bottom{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    .rightsFooter{
        color: #fffefe;
        text-align: center;
    }
}