.footer{
   
    background-color: #2b2929;
}


.container{
    margin: 10rem 20rem 2rem 20rem;
    
    h4{
        margin-bottom: 1rem;
        margin-top: 1rem;
        line-height: 1rem;
        color: #fffefe;
    }
    .top{
        display: flex;
        gap: 5rem;
        
        .item{
            flex:1;
            display: flex;
            flex-direction: column;
            text-align: justify;
            font-size: 1.4rem;
            .primaveraInfo{
                color: #777;
            }
            .icon{
                display: flex;
                color: #777;
                span{
                    color:#fffefe;
                }
            }
        }
        .right{
           
            span{
                color: #fffefe;
            }
        }
    }
}





.bottomFooter{
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    .rightsFooter{
        color: #fffefe;
        text-align: center;
    }
}