.about{

  
.introContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  


  color: #777;
  height: 20vh;
  padding: 2rem;

    .introTitle{
        margin:0;
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    .introText{
        font-size: 2.4rem;
        max-width: 85vw;
    }

}

@media screen and (min-width: 699px) {
    .intro-container {
      justify-content: start;
      align-items: flex-start;
      text-align: left;
      padding: 10%;
      height: 25vh;
    }
  
    .intro-p {
      max-width: 450px;
    }
  }
  
  .map-container{
    position: relative;
    overflow-wrap: normal;
  }


}